[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
jupyter = "*"
autopep8 = "*"

[packages]
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
apscheduler = "*"
pyyaml = "*"
openpyxl = "*"

[requires]
python_version = "3"
